<!-- footer content -->
<footer>
    <div class="pull-right">
        Ecole primaire privée RIAHI - SiteWeb Créer Par Hakim Mliki & Mahdi Ben Med Dhifi


    </div>
    <div class="clearfix"></div>
</footer>
<!-- /footer content -->